html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Noto Serif JP', serif;
    background-color: #1f1f1f;
    color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Asegura que el difuminado no se desborde */
    position: relative; /* Necesario para posicionar el pseudo-elemento */
}

body::before {
    content: "";
    background-image: url('/img/Main_portugal_ejemplo_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: blur(7.5px); /* Ajusta el valor de blur según tus preferencias */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido principal */
}

a {
    text-decoration: none;
    color: white;
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #000000;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

a:link {
    text-decoration: none;
    color: #000000;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.main-content {
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.main-content.animate {
    opacity: 1;
    transform: translateY(0);
}

.main-title {
    font-size: 48px;
    color: #85e7ff;
    margin-bottom: 40px;
}

.main-subtitle {
    font-size: 40px;
    color: #ffffff;
}

.topics {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.topics a {
    color: white;
}

.topic {
    background-color: #f4be5a;
    color: #ffffff;
    padding: 15px 30px;
    margin: 0 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, opacity 0.5s ease;
    opacity: 0;
}

.topic:hover {
    background-color: rgb(251, 230, 176);
    color: #ffffffc1;
}

.topic.animate {
    opacity: 1;
}

.separador {
    height: 1px;
    background-color: #ccc;
    margin: 0;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
